h1 {
  margin: 0;
  text-align: center;
}

table td, table tr {
  height: 35px;
  width: 35px;
  background-color: lightblue;
  
}

table tr th {
  background-color: mintcream;
}

table {
  height: 300px;
  border: solid black;
  float: left;
  margin: 15px;
  padding: 0;
  background-image: url(../images/ocean.jpg);
}

ul li {
	list-style: none;
}


