h1 {
  margin: 0;
  text-align: center;
}

table {
  height: 300px;
  width: 300px;
  background-color: lightblue;
  background-image: url(../images/ocean.jpg);
}

#board1 tr td{
  height: 24px;
  width: 24px;
  border: 1px solid black;
}

.piece {
  height: 25px;
  background-color: black;
  margin: 2px;
 }

#aircraft {
  width: 140px;
}

#battleship {
  width: 112px;
}

#destroyer, #submarine {
  width: 84px;
}

#patrolboat {
  width:  56px;
}
